h1 {
  font-family: "Frijole", cursive;
  color: #60b849;
}

h2 {
  font-family: "Special Elite", cursive;
  font-size: 2.5em;
  color: #60b849;
  text-align: center;
  padding-top: 0.5em;
}

h3 {
  color: #60b849;
}

h4 {
  color: #aae3d6;
}

p {
  font-family: "Averia Serif Libre", cursive;
  background-color: black;
  color: #aae3d6;

}

body {
  font-family: "Averia Serif Libre", cursive;
  background-color: black;
  color: white;
}

.padding-1 {
  margin: 1.5em;
}

.eighty {
  max-height: 70%;
  text-align: center;
}

#header-row {
  background-image: url("assets/images/zombiebg.jpg");
  background-size: contain;
  margin: 1.5em;
}

#black {
  background-color: black;
}

.btn-primary {
  font-family: "Special Elite", cursive;
  background-color: #aae3d6;
  border-color: #aae3d6;
  color: black;
}

.btn-primary:hover {
  background-color: #a066a5;
  color: white;
  border-color: #a066a5;
}

.btn-secondary {
  font-family: "Special Elite", cursive;
  background-color: rgb(146, 198, 116);
  color: black;

}

.btn-secondary:hover {
  font-family: "Special Elite", cursive;
  background-color: rgb(254, 227, 180);
  color: black;

}

.btn-outline-primary {
  color: #a976ae;
  border-color: #a066a5;
}

.btn-outline-primary:hover {
  color: black;
  background-color: #a066a5;
  border-color: #a066a5;
}

.btn-outline-primary:visited {
  color: #aae3d6;
  border-color: #aae3d6;
  background-color: black;
}


.btn-info:visited {
  color: black;
  background-color: #60b849;
}

.btn-info {
  font-family: "Special Elite", cursive;
  background-color: black;
  color: #60b849;
  text-shadow: 0px 0px 3px white;
  border-radius: 3px;
  border: 2px solid #60b849;
}

.btn-info:visited {
  color: black;
  background-color: #60b849;
}

.eighty {
  max-height: ;

}

.form-control {
  color: #4f933e;
}